/* Color Scheme
	Primary: #222222
	Secondary: #03396C
	Off-White: #DFF8EB
	Light: #B3CDE0
	Contrast: #702632
	Gray: #777777
*/

html {
	height: 100%;
}

body {
	height: 100%;
	color: #DFF8EB;
	margin: auto;
	background-color: #222222;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

#header {
	/* The image used */
	background-image: url("./sunrise.jpg");

    /* Full height, no margin */
    height: 100%; 
    margin: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------------------------CSS GRID-------------------------------------*/

.grid {
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 0 0;
}

.col-third{
	grid-area: 1 / 1 / span 1 / span 1;
}

.col-two-third{
	grid-area: 1 / 2 / span 1 / span 1;
}

/*-------------------------------------TITLE-------------------------------------*/
h1 { 
	position: relative;
	text-align: center;
	top: 40%;
	left: 0;
	width: 100%;
	clear: none;
	font-size: 6rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

/*--------------------------------SEPARATION BAR---------------------------------*/

hr {
}

/*-------------------------------------MENU--------------------------------------*/

#menu {
	border: #777777;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 0.5em 0em;
	position: sticky;
}

button {
	border: none;
	outline: none;
	background-color: #222222;
	color: #DFF8EB;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0 1em;
}

button:hover {
	cursor: pointer;
	color: #b3cde0;
}

button.active {
	color: #b3cde0;
}
/*---------------------------------MAIN CONTENT----------------------------------*/

h3 { /* h3 == main headings within text */
	position: relative;
	text-transform: uppercase;
}

h4 { /* h4 == reveal-buttons with hidden info */
}

h5 { /* h5 == lesser main headings within text */
}

h6 { /* h6 == not really a header, more like metadata description */
}

h4:hover {
}

/* About */

#About {
	padding: 2.0em 4.0em 2.0em 0;
}

/* Projects */

/* Coursework */

/* Personal Corner */

/* Footer (just to pad the bottom of the website) */

footer { 
	visibility: hidden;
}