html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #222222;
	margin: 0;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

#header {
	/* The image used */
	background-image: url("./sunrise.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail {
    position: relative;
}

/*-------------------------------------TITLE-------------------------------------*/
h1 { 
	position: relative;
	text-align: center;
	top: 45%;
	left: 0;
	width: 100%;
	clear: none;
	font-size: 6rem;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0.08em;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-transform: uppercase;
}

/*--------------------------------SEPARATION BAR---------------------------------*/

hr {
}

/*-------------------------------------TABS--------------------------------------*/

#tabs {
}

button {
}

button:hover {
}

button.active {
}

/*---------------------------------MAIN CONTENT----------------------------------*/

#main-content {
}

.dropdown-info {
}

h3 { /* h3 == main headings within text */
}

h4 { /* h4 == reveal-buttons with hidden info */
}

h5 { /* h5 == lesser main headings within text */
}

h6 { /* h6 == not really a header, more like metadata description */
}

h4:hover {
}

/* Home */

/* Projects */

/* Coursework */

/* Personal Corner */

/* Footer (just to pad the bottom of the website) */

footer { 
	visibility: hidden;
}